* {
	font-family: TT Runs Trial DemiBold;
	margin: 0;
	padding: 0;
	color: #FFF5DE;
	font-size: 1.5vw;
}

a {
	text-decoration: none;
}

body {
}
.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 200; 
    pointer-events: none; 
}


.noise {
	width: 100%; 
	object-fit: cover;
}

.container {
	background: #3B372D;
	background-image: url("elems/back-texture.png");
	background-size: 100vw;
	
}

h2 {
	z-index: 12;
	font-size: 2vw;
}
a {
	font-size: 1vw;
}

.noise-overlay {
	background-image: url("elems/warmup-phrase-back-texture.png");
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.section-name-container {
	display: flex; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.placeble-img {
	position: absolute;
    width: 18vw;
    z-index: 2;
}

footer {
	width: 100%;
	background-color: #DB402F;
	padding-top: 2vh;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 40vh;
}

#footer-navigation {
	
}

.footer-red-underneath {
	height: 10rem;
    width: 100%;
}

.footer-black-top {
	width: 95vw;
	height: 10rem;
	background-color: #3B372D;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#footer-logo {
	width: 15vw;
}

.social-media-logo {
	width: 2vw;;
}

.questions-social-media-hand-container {
	gap: 7vw;
}
.social-media-hand-container {
	gap: 3vw;
	align-items: baseline;
}

.social-media-container {
	gap: 1vw;
}

.social-media-link {
	text-decoration: none;
}

#hand {
	width: 5vw;
}

.footer-other-container {
	gap: 5vh;
	align-items: flex-start;
}

#rating {
	gap: 2vh;
	width: 90vw;
}

#rating-section-name-container {
	margin-top: 20vh;
}


#rating-decor-thing {
	width: 25vw;
    position: absolute;
    left: 37vw;
    z-index: 1;
    margin-bottom: 1rem;
}

#likes {
	width: 10vw;
    position: absolute;
	left: 10vw;
	z-index: 3;
}

#alan-cash {
	width: 13vw;
    position: absolute;
    left: 77vw;
    z-index: 3;
    margin-bottom: 1rem;
}

#rating-list {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #DB402F;
	border-radius: 3vw;
	z-index: 2;
	width: 90vw;
	flex-direction: column;
}


.rating-place-container {
	margin: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	flex-direction: column;
}

.rating-stick {
	width: 80%;
	display: none;
}


















#watch-more {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4C418E;
	width: 20vw;
	border-radius: 1vw;
	text-align: center;
	font-size: 1vw;
	height: 2rem;
	margin: auto;
	cursor: pointer;
	    margin-top: -3rem;
    z-index: 3;
}

#watch-more-text {
	font-size : 1.2vw;
}

.stars-shrek-container {
	position: absolute;
    margin-top: 30rem;
}

#stars {
    width: 9.5vw;
    position: absolute;
    right: 33vw;
    z-index: 3;
    margin-top: 0.9rem;

}

#shrek {
	width: 10vw;
    position: absolute;
	left: 10vw;
    z-index: 3;

}

@font-face {
	font-family: "TT Runs Trial DemiBold";
    src: url(fonts/ttruns/TT_Runs_Trial_DemiBold.ttf) format("truetype");
	
}

html {
  scroll-behavior: smooth;
}